  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/admin-dashboard"  routerLinkActive="activeMenuDashboard" >
          <i class="bi bi-grid"></i>
          <span>Tableau de bord</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/admin-dashboard/gestion-aprenant" routerLinkActive="activeMenu" >
          <i class="bi bi-person"></i>
          <span>Gestion des apprenants</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/admin-dashboard/gestion-professeur"  routerLinkActive="activeMenu" >
          <i class="bi bi-person"></i>
          <span>Gestion des professeurs</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/admin-dashboard/gestion-classe" routerLinkActive="activeMenu" >
          <i class="bi bi-menu-button-wide"></i>
          <span>Gestion des classes</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/admin-dashboard/gestion-matiere"  routerLinkActive="activeMenu" >
          <i class="bi bi-menu-button-wide"></i>
          <span>Gestion des matieres</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>

  </aside><!-- End Sidebar-->
